# ignore objects and archives, anywhere in the tree.
*.[oa]
# ignore emacs backup files
*~
# ignore hidden files
.*
# ignore ROOT dictionary
ModuleAnaDict.*
# ignore library
lib/lib*
# ignore binaries
bin/*
!bin/*sh
# ignore PAR packages
PAR/*par
# ignore LATEX
*toc
*aux
DOC/*log

qmake/Makefile
qmake/*/Makefile
*.pro.user
